.main {
  text-align: justify;
  padding-left: 6vw;
  padding-right: 6vw;
  @media (min-width: 768px) {
    grid-column: 2;
  }
  & h2 {
    margin: 20px 0px 20px 0px;
  }
  & p {
    margin-bottom: 40px;
  }
}
