@import "./variables.scss";

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  line-height: 2.4;
  display: flex;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 328px;
    width: 280px;
  }

  &__burger {
    width: 50px;

    cursor: pointer;
    background-color: rgba($color: $second-background-color, $alpha: 0.8);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
      display: none;
    }
    &--img {
      width: 45px;
    }
  }

  &__list {
    &.active {
      display: flex;
    }

    flex-direction: column;
    justify-content: space-evenly;
    padding: auto auto;
    height: 92vh;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba($color: $second-background-color, $alpha: 0.8);
    display: none;

    @media (min-width: 768px) {
      justify-content: flex-start;
      align-items: center;
      background-color: rgba($color: $second-background-color, $alpha: 1);
    }
    &--item {
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
      transition: background-color ease 0.3s;
    }
    &--item:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      //opacity: 0.5;
      text-shadow: 1px 1px grey;
      border-radius: 4px;
    }
  }
}
