@import "./variables.scss";

.nav {
  position: fixed;
  top: 0px;
  left: 0px;

  line-height: 2.4;
  display: flex;
  cursor: pointer;
  & a {
    text-decoration: none;
    color: $paragraph-color;
  }

  @media (min-width: 768px) {
    line-height: 1.2;
  }

  &__burger {
    width: 50px;

    cursor: pointer;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
      display: none;
    }
    &--img {
      width: 45px;
    }
  }

  &__list {
    &.active {
      display: flex;
    }

    flex-direction: column;
    justify-content: space-evenly;
    padding: auto auto;
    height: 92vh;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba($color: $second-background-color, $alpha: 0.8);
    display: none;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 50px;

      font-size: 12px;
      font-weight: 400;
      background-color: $background-color;
    }
    &--item {
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
      transition: background-color ease 0.3s;
      @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        & .fas {
          font-size: 16px;
        }
      }
    }
    &--item:hover {
      background-color: rgba($color: $second-background-color, $alpha: 1);

      text-shadow: 1px 1px rgb(63, 63, 63);
      border-radius: 4px;
    }
  }
}
