@import "./reset.scss";
@import "./variables.scss";
body {
  background-color: $second-background-color;
}

.page {
  background-color: $background-color;
  font-family: "Fira Code", monospace;
  color: $paragraph-color;
  line-height: 1.4;

  @media (min-width: 1200px) {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

h1 {
  font-family: "Press Start 2P";
  font-weight: 600;
  color: $titles-color;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  font-family: "Fira Code", monospace;
  font-weight: 200;
  color: $titles-color;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-weight: 400;
  color: $titles-color;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0px 20px 0px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: $titles-color;
  margin: 10px 0px 0px 0px;
  text-transform: capitalize;
  padding-left: 20px;
}

p {
  color: $paragraph-color;
  padding: 20px;
}

.fas {
  font-size: 30px;
}
