@import "./reset.scss";
@import "./variables.scss";
.page {
  background-color: $background-color;
  font-family: "Source Sans Pro", sans-serif;
  color: $second-background-color;
}

h1 {
  font-weight: 600;
  color: $titles-color;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  font-weight: 200;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-weight: 400;
  color: $titles-color;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0px 20px 0px;
}
