@import "./variables.scss";

.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-bottom: 80px;

  @media (min-width: 768px) {
    height: 100vh;
  }
  &__container {
    @media (min-width: 768px) {
      padding-left: 35px;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      display: grid;
      row-gap: 10px;
      column-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    &--text {
      display: flex;
      flex-direction: column;
      text-align: center;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.4s ease;
      & a {
        text-decoration: none;
      }
      & button {
        width: 150px;
        height: 30px;
        font-family: "Fira Code", monospace;
        font-weight: 900;
        color: $second-background-color;
        background-color: $paragraph-color;
        border-radius: 6px;
        margin: -20px 30px 40px 30px;
      }
    }
    &--text:hover {
      opacity: 0.95;
      background-color: $second-background-color;
    }
    &--item1 {
      background-image: url("../images/RickandMorty.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      padding-bottom: 15px;
    }

    &--item2 {
      background-image: url("../images/Migracion-React-servidor-express.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      padding-bottom: 15px;

      @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      &__photo {
        width: 300px;
      }
    }
    &--item3 {
      background-image: url("../images/JS-Vanila-Buscador_de_series-detalle.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      padding-bottom: 15px;
      @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      &__photo {
        width: 300px;
      }
    }
    &--item4 {
      background-image: url("../images/Landing-Awesome_profile-cards.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      padding-bottom: 15px;
      @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      &__photo {
        width: 300px;
      }
    }
    &--item5 {
      background-image: url("../images/Módulo_1_Evaluación_final.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
      padding-bottom: 15px;
      @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      &__photo {
        width: 300px;
      }
    }
  }
}
