@import "./variables.scss";

.skills {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  & ul {
    padding: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    & .fab {
      font-size: 80px;
      padding: 20px;
      transition: font-size ease 0.5s;
    }
    & .fab:hover {
      font-size: 90px;
    }

    &--responsive {
      display: flex;
      & .fas {
        font-size: 20px;
        padding: 8px;
      }
    }
  }
}
