@import "./variables.scss";

.training {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  @media (min-width: 768px) {
    height: 100vh;
  }
  &__list {
    padding: 30px;
  }
}
